@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cera Pro Medium";
  src: url("CeraPro-Medium.eot");
  src: url("CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("CeraPro-Medium.woff") format("woff"),
    url("CeraPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro Regular";
  src: url("CeraPro-Regular.eot");
  src: url("CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("CeraPro-Regular.woff") format("woff"),
    url("CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-style: normal;

  scrollbar-color: #0078ee;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #adb6bf66;
}

::-webkit-scrollbar-thumb {
  background: #0078ee;
  border-radius: 99px;
}

:fullscreen::backdrop {
  background: none;
}
